* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    color: #2d3748;
}

.icone {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.linha {
    width: 80px;
    height: 2px;

    background-color: rgb(95, 160, 240);
}

body {
    padding: 20px;

    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #e5e5e5;
    min-height: 100vh;
}

form {
    border: 1px solid #d6d6d6;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


form div {
    margin-bottom: 5px;
}

.form-conteudo {
    border-left: 3px solid rgb(95, 160, 240);
    padding-left: 20px;
    margin-bottom: 20px;
}

input {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #999;
    margin-top: 3px;

    font-size: 15px;

    transition: 0.2s;
}

input:focus {
    outline: none;
    border-color: rgb(95, 160, 240);
    box-shadow:  0 0 0 3px rgba(95, 160, 240, 0.2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;

    margin: 0;
}

form button {
    align-self: flex-end;
}

button {
    border: none;
    border-radius: 8px;
    padding: 12px 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-1px);
}

@media (max-width: 600px) {

    h1 {
        font-size: 24px;
    }

    form {
        padding: 15px;
    }

}